{% extends 'base.html.twig' %}

{% block title %}Welcome to Grem!{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 100px;">
        <h1>Welcome to {{ project_name }}!</h1>
        <p>Your Symfony project is successfully running in Docker.</p>
        <p>Db url: {{ db_url }}</p>
        <p>App env: {{ app_env }}</p>
    </div>
{% endblock %}